body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #c7e2f8;
    padding-top: 10px;
}

.container {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.botoes1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.botoes1 button {
    margin: 0 10px;
}

.botoes2 {
    display: flex;
    justify-content: center;
}

.botoes2 button {
    margin: 0 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}

#sair {
    background-color: #f44336;
}

#sair:hover {
    background-color: #c62828;
}

script {
    margin-top: 20px;
}
